*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

.whole{
    display: flex;
  }
  
  .logo{
    width: 150rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  } 
  
  .login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #6f316c;
  }
  
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e4c5df;
    /* box-shadow: 10px 15px #f1b5df; */
    padding: 30px;
    /* border: #4285f4; */
    border-radius: 20px;
  }
  
  .login_h2{
    color: black;
  }
  
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  
  .login__google {
    background-color: #4285f4;
  }
  
  .login div {
    margin-top: 15px;
  }
  
  .login_name{
    color: white;
    display: flex;
    flex-direction: row;
  }
  
@media screen and (max-width: 750px) {
    .whole{
      flex-direction: column;
    }

    .logo{
      width: auto;
      height: 200px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
    .login{
      height: calc(100vh - 200px);
    }
}